@import "tailwindcss";
@font-face {
    font-family: Gothic;
    src: url("../public/fonts/Fontspring-DEMO-allroundgothic-thick.otf")
}
@theme {
  --font-logo: Gothic, "sans-serif";
  --color-dark-bg: #000;
  --color-dark-secondary: #1d1f21;
  --color-dark-tertiary: #3b3d40;
  --color-blue-primary: #0275ff;
  --color-stroke-dark: #2d3135;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  @apply h-full w-full text-sm bg-dark-bg;
  
}